---
import '../styles/card.css'

interface Props {
  data: {
    name: string,
    date: string,
    img: [
      string, string
    ],
    resume: {
      title: string,
      res: string
    }
  }
}

const { name, date, img, resume } = Astro.props.data
---

<div class="card">
  <h1 class="main-name">{name.split(' ')[1].toUpperCase()}</h1>
  <div class="modal">
    <h1>{name}</h1>
    <h3>{date}</h3>
    <a href="#" class="more">VER MÁS</a>
  </div>
  <div class="info">
    <h4>{resume.title}</h4>
    <p>{resume.res}</p>
    <button class="close-modal-btn">Close</button>
  </div>
  <img src={img[1]} alt="">
</div>

<script src="../code/card.js"></script>